.joli{
    color: red;
    font-weight: lighter;
    background-color: yellow;
}
.autreclasse{
    color: white;
}
.textelatin{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.machin{
    background-color: orangered;
    color: white;
    font-family: 'Ubuntu';
    border: red 2px solid;
    text-transform: uppercase;
    padding: 5px;
    font-weight: bolder;
    border-radius: 5%;
    transition: all 1s;
}
.machin:hover{
    color: orangered;
    background-color: white;
    padding: 15px;
    font-size: 1.4em;
}

.laclasse{
    width: 150px;
    height: 150px;
}
.photoDeClasse{
    background-image: url("la-classe.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: blue 5px solid;
    height: 150px;
    width: 150px;
}

.boite{
    height: 80vh;
    border: blue 3px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}